In [88]:
import pandas as pd

# Example nested JSON structure for Tarif
tarif = {
    "Netznutzung": {
        "winter": {
            "mo-fri": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 13.55, "7": 13.55, "8": 13.55, "9": 13.55, "10": 13.55, "11": 13.55, "12": 13.55, "13": 13.55,
                "14": 13.55, "15": 13.55, "16": 13.55, "17": 13.55, "18": 13.55, "19": 13.55,
                "20": 13.55, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "sa": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "su": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            }
        },
        "sommer": {
            "mo-fri": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 13.55, "7": 13.55, "8": 13.55, "9": 13.55, "10": 13.55, "11": 13.55, "12": 13.55, "13": 13.55,
                "14": 13.55, "15": 13.55, "16": 13.55, "17": 13.55, "18": 13.55, "19": 13.55,
                "20": 13.55, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "sa": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "su": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            }
        }
    },
    "Energielieferung": {
        "winter": {
            "mo-fri": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 13.55, "7": 13.55, "8": 13.55, "9": 13.55, "10": 13.55, "11": 13.55, "12": 13.55, "13": 13.55,
                "14": 13.55, "15": 13.55, "16": 13.55, "17": 13.55, "18": 13.55, "19": 13.55,
                "20": 13.55, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "sa": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "su": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            }
        },
        "sommer": {
            "mo-fri": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 13.55, "7": 13.55, "8": 13.55, "9": 13.55, "10": 13.55, "11": 13.55, "12": 13.55, "13": 13.55,
                "14": 13.55, "15": 13.55, "16": 13.55, "17": 13.55, "18": 13.55, "19": 13.55,
                "20": 13.55, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "sa": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            },
            "su": {
                "0": 9.40, "1": 9.40, "2": 9.40, "3": 9.40, "4": 9.40, "5": 9.40, "6": 9.40,
                "7": 9.40, "8": 9.40, "9": 9.40, "10": 9.40, "11": 9.40, "12": 9.40, "13": 9.40,
                "14": 9.40, "15": 9.40, "16": 9.40, "17": 9.40, "18": 9.40, "19": 9.40,
                "20": 9.40, "21": 9.40, "22": 9.40, "23": 9.40
            }
        }
    }
}

# Step 2: Extract the data
data = []
for category, seasons in tarif.items():
    for season, days in seasons.items():
        for day, hours in days.items():
            for hour, value in hours.items():
                data.append({
                    "Category": category,
                    "Season": season,
                    "Day": day,
                    "Hour": hour,
                    "Value": value
                })
df = pd.DataFrame(data)
df

             Category  Season     Day Hour  Value
0         Netznutzung  winter  mo-fri    0    9.4
1         Netznutzung  winter  mo-fri    1    9.4
2         Netznutzung  winter  mo-fri    2    9.4
3         Netznutzung  winter  mo-fri    3    9.4
4         Netznutzung  winter  mo-fri    4    9.4
..                ...     ...     ...  ...    ...
283  Energielieferung  sommer      su   19    9.4
284  Energielieferung  sommer      su   20    9.4
285  Energielieferung  sommer      su   21    9.4
286  Energielieferung  sommer      su   22    9.4
287  Energielieferung  sommer      su   23    9.4

[288 rows x 5 columns]

In [89]:
h4_verbrauch_df = pd.read_csv("data/hourly_verbrauch_h4.csv")

In [90]:
df['Hour'] = df['Hour'].astype(int) 
example = pd.merge(df, h4_verbrauch_df, on=["Season", "Hour"], how="left")

In [91]:
example_n = example.query("Category=='Netznutzung'")

In [92]:
example_n

        Category  Season     Day  Hour  Value  Verbrauch
0    Netznutzung  winter  mo-fri     0    9.4        500
1    Netznutzung  winter  mo-fri     1    9.4        500
2    Netznutzung  winter  mo-fri     2    9.4        500
3    Netznutzung  winter  mo-fri     3    9.4        500
4    Netznutzung  winter  mo-fri     4    9.4        500
..           ...     ...     ...   ...    ...        ...
139  Netznutzung  sommer      su    19    9.4        500
140  Netznutzung  sommer      su    20    9.4        500
141  Netznutzung  sommer      su    21    9.4        500
142  Netznutzung  sommer      su    22    9.4        440
143  Netznutzung  sommer      su    23    9.4        440

[144 rows x 6 columns]

In [93]:
period1 = example_n[(example_n['Hour']>=6) & (example_n['Hour']<12)]
period1

        Category  Season     Day  Hour  Value  Verbrauch
6    Netznutzung  winter  mo-fri     6  13.55        690
7    Netznutzung  winter  mo-fri     7  13.55        690
8    Netznutzung  winter  mo-fri     8  13.55        690
9    Netznutzung  winter  mo-fri     9  13.55        690
10   Netznutzung  winter  mo-fri    10  13.55        690
11   Netznutzung  winter  mo-fri    11  13.55        690
30   Netznutzung  winter      sa     6   9.40        690
31   Netznutzung  winter      sa     7   9.40        690
32   Netznutzung  winter      sa     8   9.40        690
33   Netznutzung  winter      sa     9   9.40        690
34   Netznutzung  winter      sa    10   9.40        690
35   Netznutzung  winter      sa    11   9.40        690
54   Netznutzung  winter      su     6   9.40        690
55   Netznutzung  winter      su     7   9.40        690
56   Netznutzung  winter      su     8   9.40        690
57   Netznutzung  winter      su     9   9.40        690
58   Netznutzung  winter      su    10   9.40        690
59   Netznutzung  winter      su    11   9.40        690
78   Netznutzung  sommer  mo-fri     6  13.55        600
79   Netznutzung  sommer  mo-fri     7  13.55        600
80   Netznutzung  sommer  mo-fri     8  13.55        600
81   Netznutzung  sommer  mo-fri     9  13.55        600
82   Netznutzung  sommer  mo-fri    10  13.55        600
83   Netznutzung  sommer  mo-fri    11  13.55        600
102  Netznutzung  sommer      sa     6   9.40        600
103  Netznutzung  sommer      sa     7   9.40        600
104  Netznutzung  sommer      sa     8   9.40        600
105  Netznutzung  sommer      sa     9   9.40        600
106  Netznutzung  sommer      sa    10   9.40        600
107  Netznutzung  sommer      sa    11   9.40        600
126  Netznutzung  sommer      su     6   9.40        600
127  Netznutzung  sommer      su     7   9.40        600
128  Netznutzung  sommer      su     8   9.40        600
129  Netznutzung  sommer      su     9   9.40        600
130  Netznutzung  sommer      su    10   9.40        600
131  Netznutzung  sommer      su    11   9.40        600

In [94]:
period1.groupby(['Category', 'Season', 'Day'], as_index = False).mean()

      Category  Season     Day  Hour  Value  Verbrauch
0  Netznutzung  sommer  mo-fri   8.5  13.55      600.0
1  Netznutzung  sommer      sa   8.5   9.40      600.0
2  Netznutzung  sommer      su   8.5   9.40      600.0
3  Netznutzung  winter  mo-fri   8.5  13.55      690.0
4  Netznutzung  winter      sa   8.5   9.40      690.0
5  Netznutzung  winter      su   8.5   9.40      690.0

In [95]:
def average_on_day_period(df):
    weekly_mean_df = df.groupby(['Category', 'Season', 'Day'], as_index = False).mean()
    for index, row in weekly_mean_df.iterrows():
        if row['Day'] == 'mo-fri':
            weekly_mean_df.loc[index, 'Value'] = row['Value']*5*row['Verbrauch']/(7*100)
        else:
            weekly_mean_df.loc[index, 'Value'] = row['Value']*row['Verbrauch']/(7*100)
    weekly_mean_df.drop(['Category', 'Day', 'Verbrauch', 'Hour'], axis = 1, inplace = True)
    weekly_mean_df.reset_index(drop=True, inplace=True)
    return weekly_mean_df.groupby(['Season'], as_index = False).sum()

In [96]:
average_on_day_period(period1)

   Season      Value
0  sommer  74.185714
1  winter  85.313571

In [101]:
#this function splits the big df in periods, applies iteratively the weekly means for each period and returns a big dataframe with all averages for each season for each period

def get_seasonal_averages(df, category):
    if category not in ['Netz', 'Energie']:
        raise ValueError("Invalid option. Expected 'Netz' or 'Energie'.")
    if category == 'Netz':
        df = example.query("Category=='Netznutzung'")
    else:
        df = example.query("Category=='Energie'")

    # The dataframe is splitted in the periods defined by Elcom
    period1_df = df[(df['Hour']>=6) & (df['Hour']<12)].copy()
    period2_df = df[(df['Hour']>=12) & (df['Hour']<18)].copy()
    period3_df = df[(df['Hour']>=18) & (df['Hour']<22)].copy()
    period4_df = df[(df['Hour']>=22) | (df['Hour']<6)].copy()
    periods = [period1_df, period2_df, period3_df, period4_df]
    averages =[]
    for period_df in periods:
        averages.append(average_on_day_period(period_df))
        
    concatenated_df = pd.concat(averages, axis=0, ignore_index=True)
    return concatenated_df

In [103]:
get_seasonal_averages(example, 'Netz')

   Season      Value
0  sommer  74.185714
1  winter  85.313571
2  sommer  66.767143
3  winter  77.895000
4  sommer  58.116071
5  winter  69.739286
6  sommer  41.360000
7  winter  47.000000

In [104]:
TOT_VERBRAUCH_H4 = 4500
def get_yearly_average_tarif(seasonal_avg_df):
    total_price = seasonal_avg_df['Value'].sum()
    return total_price/TOT_VERBRAUCH_H4*100

In [106]:
a = get_seasonal_averages(example, 'Netz')

In [108]:
type(get_yearly_average_tarif(a))

numpy.float64

In [110]:
b = get_yearly_average_tarif(a)
b

np.float64(11.563928571428574)